<h1>Editing dish</h1>

<%= render "form", dish: @dish %>

<br>

<div>
  <%= link_to "Show this dish", @dish, class:'btn btn-outline-info btn-sm' %> |
  <%= link_to "Back to dishes", dishes_path, class: 'btn btn-outline-dark btn-sm' %>
</div>
