
<div class='container' style='background-color:rgb(0 0 0/0%); margin:auto;'>
    <div id="<%= dom_id restaurant %>">
      <h3 class="card-title">
        <%= restaurant.name %>
      </h3>

      <p class="card-subtitle mb-2 text-muted">
        <%= restaurant.address %>
      </p>
    </div>
</div>
