<div id="<%= dom_id item %>">
  <h3>
    <%= item.name %>
  </h3>

  <p class='text-muted'>
    <strong>Price:</strong>
    <%= item.price%>
    <br>
    <strong>Callories:</strong>
    <%= item.callories %>
  </p>

</div>
