<div class="container">
  <h1>New item</h1>

  <%= render "formnew", item: @item %>

  <br>

  <div>
    <%= link_to "Back to items", items_path, class: 'btn btn-outline-primary btn-sm' %>
  </div>
</div>