<% if notice.present? %>
    <p class="notice container text-center" style='background-color: rgb(167 201 87/ 50%); width:30rem;'><%= notice %></p>
<% end %>
<% if alert.present? %>
    <p class="alert container text-center" style='background-color: rgb(167 201 87/ 50%); width:30rem;'><%= alert %></p>
<% end %>
